.Topic-Container {
    position: relative;
    overflow: hidden;
    max-height: 100%;
    min-width: 50vw;
    padding: 10px;
}

.Topic-Content {
    position: relative;
    max-height: 100%;
    overflow-y: scroll;
}

button {
    margin-left: 5px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    font-size: 36px;
    opacity: 0.6;
    background:#ffffff;
    transition: background 0.1s ease-in-out;
}
